<div id="signup" class="container">
  <h2 class="login">Sign up</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name),:class => "form") do |f| %>
  <div class="row">
    <div class="col-lg-12">
      <%= devise_error_messages! %>
      <div class="form-group login-box">
        <div><%= f.label :email ,:class => "login-info"%><br />
          <%= f.email_field :email, :autofocus => true ,:class => "form-control",:placeholder=>"Enter email"%>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group login-box">
        <div><%= f.label :password,:class => "login-info" %><br />
        <%= f.password_field :password ,:class => "form-control",:placeholder=>"Enter Password"%>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div class="form-group login-box">
        <div><%= f.label :password_confirmation,:class => "login-info" %><br />
          <%= f.password_field :password_confirmation ,:class => "form-control",:placeholder=>"Enter Password Confirmation"%>
        </div>
      </div>
    </div>
    <div class="col-lg-12">
      <div><%= f.submit "Sign up",:class=>'btn btn-default' %>
      </div>
    </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>